server:
    port: 9090
    context-path: /
    # address: 192.168.1.104
    sessionTimeout: 30

logging:
    level:
        apijson.demo.server: DEBUG

spring:
    datasource:
        name: apijson
        url: jdbc:mysql://127.0.0.1:3306/apijson?useUnicode=true&useSSL=false&characterEncoding=UTF-8
        username: root
        password: 123456
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
    http:
        encoding:
        force: true
        charset: UTF-8


mybatis:
    mapper-locations: classpath:mapper/*Mapper.xml
    type-aliases-package: apijson.demo.server.model

